@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@500&family=Raleway:wght@700&family=Roboto+Slab:wght@600&family=Roboto:wght@300;500;700&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Poppins:wght@500&family=Raleway:wght@700&family=Roboto+Slab:wght@600&family=Roboto:wght@300;500;700&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@500&display=swap');
body h1,
h2,
h3,
h4 {
    font-family: 'Roboto Slab', serif;
}

body p {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background: url('img/hero-shape.svg') center -250px no-repeat;
    padding-bottom: 150px;
}

.all {
    overflow: hidden;
}

.menu_bar {
    padding-top: 30px;
}

.brand_name {
    font-size: 32px;
    color: #2D3748;
}

.contact_mail {
    text-align: right;
    margin-bottom: -33px;
}

.contact_mail a {
    font-size: 20px;
    text-decoration: none;
    line-height: 0.5em;
    color: #fff;
    font-weight: bold;
    background: #48bb78;
    padding: 5px 15px;
    border-radius: 5px;
}

.header-content {
    padding-top: 100px;
}

.header-content h1 {
    font-size: 60px;
}

.header-para {
    color: #595E66;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.header-contact {
    margin-top: 60px;
}

.user_email input {
    width: 100%;
    font-size: 16px;
    color: #595E66;
    background-color: #fff;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
    height: 50px;
}

.sign_up p {
    font-size: 18px;
    padding: 15px;
    background-color: #48BB78;
    border-radius: 0 10px 10px 0;
    transition: 0.3s all ease;
    width: 100%;
    height: 50px;
    color: #fff;
    font-weight: 600;
}

.sign_up:hover p {
    cursor: pointer;
    background-color: #86e6ae;
}

.header_img img {
    margin-top: 30px;
    width: 120%;
}


/* start learning section style  */

.learning-content {
    font-family: 'Poppins', sans-serif;
}

.learning-content p {
    font-size: 18px;
    color: #595E66;
    line-height: 150%;
}

.learning-content p span {
    margin-right: 10px;
}

.learning-heading {
    font-size: 22px;
    color: #000;
    line-height: 1.5em;
    margin-bottom: 10px;
    display: inline-block;
}

.para-badge {
    display: inline-block;
    font-size: 16px;
    color: #595E66;
    margin-right: 5px;
    background-color: #FFEECD;
    border-radius: 20px;
}


/* start carbon section style  */

.curbon-sectoin {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFEECD;
}

.curbon-btn {
    text-align: right;
}

.curbon-btn button {
    border: none;
    background-color: #48BB78;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    color: #fff;
}

.curbon-btn button:hover {
    background-color: #86e6ae;
}

.footer {
    background-color: #F7FAFC;
}

.footer h4 {
    color: #48BB78;
}

.footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #595E66;
}

.learning-content img {
    width: 60px;
    height: 60px;
}

.text-border {
    border-bottom: 8px solid rgba(72, 187, 120, 1);
    height: 60px;
    display: inline-block;
}